*.log
*.DS_Store
.DS_Store
*.ico
*.map
wp/.htaccess
wp/sitemap.xml
wp/sitemap.xml.gz
wp/wp-config.php
wp/wp-content/advanced-cache.php
wp/wp-content/backup-db
wp/wp-content/backups
wp/wp-content/blogs.dir/
wp/wp-content/cache
wp/wp-content/upgrade
wp/wp-content/uploads
wp/wp-content/wp-cache-config.php
wp/wp-content/plugins/hello.php
wp/wp-content/plugins/akismet
wp/wp-content/plugins/acf-button-field
wp/wp-content/themes/*/node_modules
wp/wp-content/themes/*/vendor
wp/wp-content/themes/*/bower_components
wp/wp-content/themes/*/package-lock.json

wp/wp-content/themes/*/dist

wp/readme.html
wp/license.txt

.idea/*

.code-workspace
*.code-workspace
